body{
  font-family: 'Roboto';
}

h1{
    border: solid 2px black;
}

.chronometre{
    margin: auto ;
    width: 300px;
    text-align: center;
    
  }

  .tim{
      margin: auto;
      width: 300px;
      border: 3px solid #d1d1d1;
      padding:5px 0;
      text-align: center;
      font-size: 1.5em;
      font-family: digital;
      margin-bottom: 10px;
      font-family: 'Roboto';


  }
 
  button{
    font-family: 'Roboto';
    background: #349f;
    color: #fff;
    width: 70px;
    line-height: 2em;
    border: none
  }

.exercice2{
  display: flex;
  margin-left: 10vh;
  flex-direction: column;
  width: 80vh;
  text-align: center;
}

.exercice2 button{
  width: 150px;
  text-align: center;
  align-self: center;
  padding: 10px;
}

.active{
  color: #000;
  background-color: #fff;
  border: solid 2px #000;
  padding: 10px;
}
